@font-face {
	font-family: "Open Sans";
	src: url("./fonts/OpenSans-Regular\ \(1\).otf");
}

body {
	margin: 0;
	font-family: "Open Sans";
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
